bin/
obj/
_ReSharper*/
*.suo
testimpactdata.sdf
*.orig
*.user
build/TestResults/
TestResults/
*.dbmdl
TestResult.xml
*/.svn/*
soapui.log
soapui-errors.log
NGI.UI.Web.Publish.xml
NebankETEPackage/
NebankDEVPackage/
NebankQAPackage/
NebankProdPackage/
NGI.UI.Web/logs/*.txt
*.dtp
*.dbschema
packages/
/DbScripts/backups/
/DbScripts/sql/debug/DbScripts.sql
/PowerMonDb/sql/debug/PowerMonDb.deploymanifest
/PowerMonDb/sql/debug/PowerMonDb.sql
/PowerMonDb/sql/debug/PowerMonDb_Database.sqlcmdvars
/PowerMonDb/sql/debug/PowerMonDb_Database.sqldeployment
/PowerMonDb/sql/debug/PowerMonDb_Database.sqlsettings
/PowerMonDb/sql/debug/PowerMonDb_Script.PostDeployment.sql
/PowerMonDb/sql/debug/PowerMonDb_Script.PreDeployment.sql
/PowerMonDb/sql/debug/*